.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    padding: 25px;
    font-family: "Tahoma";
    font-size: 45px;
    color: rgb(137, 137, 221);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    text-align: center;
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
    border-radius: 25px;
    border: 10px solid rgb(22 105 130);
    background-color: white;
}

.card-box {
    margin: 10% auto;
    width: 1000px;
    position: relative;
}

.answer-button {
    font-size: 20px;
    margin: auto 5px;
}

.answer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.flip-container {
    perspective: 1000px;
    height: 400px;
    width: 300px;
    position: absolute;
    transition: 0.6s;
    right: 0;
}

.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

#flipInside.hover .flipper {
    transform: rotateY(360deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

.left {
    z-index: -10;
    position: absolute;
    left: 0;
}

.right {
    z-index: -10;
    position: absolute;
    right: 0;
}

.wrong {
    color: violet;
    font-size: 0.5em;
}

.correct {
    color: greenyellow;
    font-size: 0.5em;
}
.red {
    border-color: brown;
}
.green {
    border-color: greenyellow;
}
.yellow {
    border-color: yellow;
}
.gray {
    border-color: gray;
}

/* Прикольная штука, но пока лень впихнуть */
/*<div class="containerYN" >
    <div class="left-bg" > LEFT</div >
    <div class="right-bg" > RIGHT</div >
</div >*/

.containerYN {
    position: relative;
    background: #f1f1f1;
    margin: 40px auto;
    width: 80%;
    height: 360px;
}

.left-bg, .right-bg {
    text-align: center;
    vertical-align: central;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    transition: .25s ease;
}

.left-bg {
    background-color: #24800f;
    left: 0;
}

.right-bg {
    background-color: #5988ad;
    background-position: right;
    right: 0;
}

.left-bg:hover {
    width: 60%;
}

.left-bg:hover + .right-bg {
    width: 40%;
}

.right-bg:hover {
    width: 60%;
}

.right-bg:hover + .left-bg {
    width: 40%;
}
