.collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collections-box {
    color: whitesmoke;
    font-family: "Tahoma";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress {
    height: 30px;
    border: 1px solid rgb(207, 207, 207);
    margin: 10px;
}

p {
    margin: 10px;
}

.collection {
    margin: 15px;
    padding: 10px 20px;
    min-width: 30%;
    font-family: "cursive";
    color: rgb(21 21 21);
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    outline: none;

    border-radius: 25px;
    border: 10px solid rgb(22 105 130);
    background-color: rgb(220 220 220);
}


.collection:hover, .collection:active {
    text-decoration: none;
}

.collection:hover:not(:active) {
    background-color: rgb(255 255 255);
    box-shadow: 0 0 10px rgba(255,255,255,0.3), 0 0 6px rgba(255,255,255,0.4), 0 0 10px rgba(255,255,255,0.3);
}

.collection:active {
    background-color: rgb(200 200 200);
    box-shadow: 0 0 10px rgba(255,255,255,0.3), 0 0 6px rgba(255,255,255,0.4), 0 0 10px rgba(255,255,255,0.3);
}