.menu {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    min-width: 700px;
}

.active {
    background-color: darkcyan !important;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    position: relative;
    text-align: center;
    color: white;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.main-button {
    min-width: 120px;
    background: crimson;
    box-shadow: 0 -150px 70px -120px teal inset, 0 -220px 70px -120px yellowgreen inset, 0 -280px 70px -120px gold inset;
    animation: gradientAnim 4s infinite alternate;
}

@keyframes gradientAnim {
    50% {
        background: darkviolet;
        box-shadow: 0 -140px 70px -120px mediumorchid inset, 0 -210px 70px -120px teal inset, 0 -280px 70px -120px plum inset;
    }
}

.sliding-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.sliding-button:hover {
    background: rgba(255, 255, 255, 0);
}

.sliding-button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

.menu-button:hover {
    color: white;
    text-decoration: none;
}