.newCollection-box {
    color: whitesmoke;
    font-family: "Tahoma";
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 20px;
    font-family: "Tahoma";
    display: flex;
    flex-direction: column;
}

.newWord {
    display: inline-block;
}

textarea,
input[type=text] {
    resize: none;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    outline: none;
    transition: 0.5s;
    font-size: 15px;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type=text]:focus,
textarea:focus {
    border: 2px solid #d50082
}

input.left-russian {
    border-radius: 10px 0 0 10px;
    margin-right: 0;
    width: 30%;
}

input.right-english {
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    width: 30%;
    margin-right: 0;
}

.plus-minus {
    font-size: 18px;
    margin-left: 20px;
    padding: 5px 10px;
}