.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.word {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 300px;
    font-family: "Tahoma";
    font-size: 300%;
    font-weight: 700;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    text-align: center;
    padding: .5em 1em;
    margin: 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(60, 62, 60), rgb(41, 41, 46)) rgb(60, 62, 60);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
}