body {
    /*background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;  
    background-size: 16px 16px;*/
    background-color: #282828;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    user-select: none;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 200%;
    margin: 50px;
}

.start {
    padding: 10px;
    width: 150px;
    margin-top: 100px;
}

.all-button {
    padding: 5px 10px;
    position: relative;
    font-family: "Tahoma";
    color: rgb(191, 191, 197);
    text-decoration: none;
    text-align: center;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    outline: none;
    border-radius: 10px;
    background: linear-gradient(rgb(79, 82, 79), rgb(42, 42, 46)) rgb(79, 82, 79);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
}

.all-button:hover, .all-button:active {
    text-decoration: none;
}

.all-button:hover:not(:active) {
    background: linear-gradient(rgb(86, 86, 84), rgb(60, 61, 66)) rgb(86, 86, 94);
    color: rgb(255, 255, 255);
}

.all-button:active {
    color: rgb(191, 191, 197);
    top: 1px;
    background: linear-gradient(rgb(56, 57, 52), rgb(36, 37, 42)) rgb(56, 57, 52);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
}